*.pyc
base/srilm/*.tar.gz
egs/paldaruo_welsh/s5/data/*
egs/paldaruo_welsh/s5/mfcc/*
egs/paldaruo_welsh/s5/exp/*
egs/paldaruo_welsh/s5/paldaruo_audio/*
egs/paldaruo_welsh/s5/utils
egs/paldaruo_welsh/s5/steps
egs/paldaruo_welsh/s5/test_*/*
egs/paldaruo_welsh/s5/trained_models/*
egs/paldaruo_welsh/s5/exp_*/*
